:root {
  /* I wanted to use solarized colors, but they are not easy to tell mentally.
   * Found this instead, and just tweaked a bit the grey: https://sashamaps.net/docs/resources/20-colors/
   */
  --color1: #ffe119; 
  --color2: #4363f8;
  --color3: #f58231; 
  --color4: #fcbeff; 
  --color5: #800000; 
  --color6: #009055; 
  --color7: #604530; 
  --color8: #696969; 
  --color9: #ffffff;
  --sd-red: #dc322f;
  --sd-green: #859900;
  --dark: #2b3b4b;
  --light: #ada693;
  --light-2: #8d8673;
  --background: var(--light-2);
  --alternate-background: var(--light);
  --textcolor: black;
  font-size: calc(1rem + 0.25vw);
}

html, body {
  background-color: var(--background);
  height: 100%;
  overflow: hidden;
  touch-action: none;
}

#wrapper {
  height: 100%;
}

#modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
}

#modal-content {
  font-family: "Inter";
  font-size: 2em;
  color: var(--textcolor);
  background-color: var(--background);
  margin: 30% auto; 
  padding: 20px;
  border: 2px solid var(--dark);
  border-radius: 0.2em;
  width: 50%; 
  min-height: 30vh; /* At least 30% of viewport height */
}

#letter {
  font-family: "Inter";
  font-size: 3em;
  text-align: center;
  position: fixed;
  width: 1em;
  height: 1em;
  line-height: 1em;
  z-index: 11; /* Just above timer */
}

#circular-progress {
  position: fixed;
  width: 6em;
  height: 6em;
}

.background-circle {
  fill: var(--background);
  stroke: var(--background);
  stroke-width: 10;
}

.progress-circle {
  fill: none;
  stroke: none;
  stroke-width: 10;
  stroke-dasharray: calc(251); /* Circumference */
  stroke-dashoffset: calc(251); /* Initially hidden */
  transform-origin: center; /* Rotate from center */
  transition: stroke-dashoffset 0.1s linear; /* Smooth transition */
  transform: rotate(-90deg);
}

.matrix {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  grid-template-rows: repeat(3, 1fr); /* 3 equal rows */
  max-width: 1024px;
  width: calc(100% - 4em); /* leave guaranteed space for the side buttons */ 
  margin: 0 auto; 
}

.inner-square {
  background-color: var(--alternate-background);
  border-radius: 1.5em;
  margin: 0.5em;
  aspect-ratio: 1/1; /* Maintain square aspect ratio */
  border: 3em solid;
  border-color: var(--alternate-background);
  transition: border-color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.inner {
  background-color:  var(--background);
  border-radius: 1.25em;
  border: 1em var(--background) solid;
  aspect-ratio: 1/1;
  transition: border-color 0.5s ease-in-out;
}

.front {
  z-index: 10; /* Ensure buttons are on top */
}

.back {
  display: none;
  z-index: -1 !important; /* Ensure buttons are on back */
}

#top-section {
  width: 100%;
  min-height: 1em;
  font-size: 4rem;
  color: var(--textcolor);
  font-family: "Inter";
  padding-top: 1.0em;
  padding-bottom: 0.5em;
  z-index: 100;
  display: flex;
}

#top-button {
  text-align: center;
  margin: auto;
}

#top-button > sub {
  font-size: 50%;
}

#top-round {
  position: fixed;
  left: 0;
  margin-left: 4em;
  font-size: 90%;
  font-size: 50%;
  top: 3em;
}

#top-pct {
  position: fixed;
  right: 0;
  margin-right: 3em;
  font-size: 50%;
  top: 2.gem; /* Due to table ? */
  table-layout: fixed; /* Key property for equal width */
  width: auto;
}

#top-pct td {
  width: 2em;
  overflow: hidden;
}

#left-button, #middle-button, #bottom-button, #right-button {
  position: fixed; /* Position over the content */
  top: 0;
  bottom: 0;
  cursor: pointer; /* Indicate clickability */
  font-family: "Inter";
}

#left-button, #right-button {
  width: 30%;  /* Make the answers larger */
  background-color: rgba(0,0,0,0);
  border: 2px solid rgba(0,0,0,0); /* Try to remove the annoying rendering fail in Safari */
}

#middle-button {
  left: 30%;
  width: 40%;
  height: 50%;
  background-color: rgba(0,0,0,0);
  border: 2px solid rgba(0,0,0,0); /* Try to remove the annoying rendering fail in Safari */
}

#left-button {
  left: 0;
  color: var(--textcolor);
  writing-mode: vertical-lr;
  text-orientation: upright;
}

#left-button > div {
  padding-top: -2em;
  width: 100%;
  text-align: center;
}

#right-button {
  right: 0;
  color: var(--textcolor);
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#right-button > div {
  padding-top: -2em;
  width: 100%;
  text-align: center;
}

#bottom-button {
  color: var(--textcolor);
  left: 30%;
  width: 40%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bottom-button > div {
  width: 100%;
  text-align: center;
}

#bottom-button > div > p {
  padding: 1em;
  border-radius: 0.5em;
  letter-spacing: 0.15rem;
}

/* For now unused */
.button-transition {
  transition: background-color 1s ease-out !important;
}

